doctype html
html
  head
    title Welcome to Connect 4
    - console.log(languages)
    link(rel='stylesheet', href='/styles.css')
  body
    h1 Welcome to Connect 4!

    form(action='/select', method='POST')
      h2 Please select a language:
      select(name='Language')
         for language in languages
          option(value="") #{language.LanguageName}    
       
       

      h2 Please select a tutor:
      select(name='tutor')
        each tutor in tutors
          option(value=tutor.id)= tutor.name

      button(type='submit') Select Tutor

    footer
      p © 2025 Connect 4 Tutors
