doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/styles.css")
  body
    header
      h1 Tutor Profile

    main
      section#profile
        h2 Tutor Name
        p Rating: 4.5/5
        p Gender: Male
        p Specialty: Farsi

    footer
      p © 2025 Connect 4 Tutors
